.headerTop
		.headerNav
			a.headerNav-link(href='/nosotros') Nosotros
			a.headerNav-link(href='/inmersiones') Inmersiones
			a.headerNav-link(href='/reservas') Reservas
			a.headerNav-link
				i.fa.fa-user.icon(aria-hidden='true')
aside.headerSidebar
	.headerLogo
		img(src='static/images/logo.png')
	.headerSocial
		a.headerSocial-link
			i.fa.fa-facebook.icon(aria-hidden='true')
		a.headerSocial-link
			i.fa.fa-instagram.icon(aria-hidden='true')
		a.headerSocial-link
			i.fa.fa-comments.icon(aria-hidden='true')

//- #myModal.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
//- 	.modal-dialog(role='document')
//- 		.modal-content
//- 			.modal-header
//- 				button.close(type='button', data-dismiss='modal', aria-label='Close')
//- 					span(aria-hidden='true') ×
//- 				h4#myModalLabel.modal-title.fa.fa-sign-in Login:
//- 			.modal-body.jumbotron
//- 				form(action='/local/login', method='post')
//- 					.form-group
//- 						label Username
//- 						input.form-control(type='text', name='username')
//- 					.form-group
//- 						label Password
//- 						input.form-control(type='password', name='password')
//- 					.modal-footer
//- 					button.btn.btn-default.btn-lg(type='submit') Login
//- 					button.btn.btn-default.btn-lg(type='button', data-dismiss='modal') Close


