.logoDiv.col-md-3.hidden-xs
  a(href='/')
    .logoHead
      h1 MARENOSTRUM
  img(src='/images/logo.png')
nav.navbar(role='navigation')
  .container-fluid
    .container
      .row
        .div.col-md-12
          ul.nav.navbar-nav.navbar-right
            li
              a(href='/nosotros') NOSOTROS
            li
              a(href='/reservas') RESERVAS
            li
              a(href='/contacto') CONTACTO

