nav.container-fluid.adminHead(role='navigation')
			.container
				a.navbar-brand(href='/') Marenostrum
				ul.nav.navbar-nav.navbar-right
					li
						a(href='/admin/events') Eventos
					li
						a(href='/logout') Log Out