body{
	font-family: 'Abel', sans-serif;
	height: 100vh;
	background-color: white;
	color: black;
}
a{
	color: white;
	text-decoration: none;
}
.headerTop{
	position: fixed;
    right: 0px;
    width: 450px;
    height: 100px;
    z-index: 100;
    background-color: #071423;
}
.headerNav{
	position: absolute;
	right: 20px;
	bottom: 30px;
	border-bottom: 40px;
}
.headerNav-link{
	display: inline-block;
    padding: 6px;
    margin: 10px;
}
.headerSidebar{
	z-index: 101;
	position: fixed;
	left: 0;
	top: 0;
	width: 65px;
	height: 100%;
	background-color: #3D4B58;
}
.headerLogo{
	padding: 10px;
}
.headerLogo img{
	display: block;
	width: 100%;
	height: 100%;
}
.headerSocial{
	position: absolute;
	left: 20px;
	bottom: 30px;
	border-bottom: 40px;
}
.headerSocial-link{
	display: block;
	position: relative;
	width: 13px;
	height: 13px;
	padding: 6px;
	margin-top: 10px;
}
.icon{
	display: block;
	width: 100%;
	height: 100%;
}
.bodyContent{
	width: 95%;
	height: 100%;
	margin-left: 65px;
}
.bodyLeft{
	position: absolute;
	bottom: 0px;
	height: 95%;
	width: 45%;
	background-color: #132938;
	color: white;
	font-size: 2em;
}
.leftContent{
    position: relative;
    top: 25%;
    left: 12%;
    border-left: solid 1px white;
    z-index: 101;
    width: 55%;
}
.leftContent li{
	padding: 15px;
}
.bodyRight{
	position: absolute;
    right: 0px;
    width: 70%;
    top: 100px;
    height: 75%;
    background-color: #063058;
    color: white;
}
.activeContent{
	font-size: 2.5em;
	transition: 1.5s;
}
.nonActiveContent{
	font-size: 100%;
	transition: 1.5s;
}