extends layout
block content
    .bodyLeft
      ul.leftContent
        li.activeContent
            |La escuela
        li
          |Inmersiones
        li
          |Reservas
        li
          |Contacto
    .bodyRight
      .rightContent
        h3
          |Marenostrum
        p
          |Una forma de vivir la aventura, de entender la naturaleza de explorar otros confines, marenostrum es el proyecto de unos profesionales del buceo, que unidos por nuestra amistad y nuestro amor por el mar, creamos una escuela de buceo recreativo, donde nuestro principal objetivo es enseñar a bucear de una forma divertida y segura.

    script(type='text/javascript').
      $('.leftContent li').on("click", function(){
        $(this).siblings().removeClass("activeContent").addClass("nonActiveContent");
        $(this).removeClass("nonActiveContent").addClass("activeContent");
      });