extends layout

block content
  .headerTop
    .headerNav
      a.headerNav-link(href='/events') Reservas
      a.headerNav-link(href='/login')
        i.fa.fa-user-circle.icon(aria-hidden='true')
  aside.headerSidebar
    .headerLogo
      img(src='static/images/logo.png')
    .headerSocial
      a.headerSocial-link
        i.fa.fa-facebook.icon(aria-hidden='true')
      a.headerSocial-link
        i.fa.fa-instagram.icon(aria-hidden='true')
      a.headerSocial-link
        i.fa.fa-comments.icon(aria-hidden='true')
  .col-md-12
    .col-md-5
      ul
        li
          |La escuela
        li
          |Inmersiones
        li
          |Reservas
        li
          |Contacto
    .col-md-7
      h3
        |Marenostrum
      p
        |Una forma de vivir la aventura, de entender la naturaleza de explorar otros confines, marenostrum es el proyecto de unos profesionales del buceo, que unidos por nuestra amistad y nuestro amor por el mar, creamos una escuela de buceo recreativo, donde nuestro principal objetivo es enseñar a bucear de una forma divertida y segura.