doctype html
html(lang='es')
	head
		
		link(rel='stylesheet' href='static/lib/fullcalendar.min.css')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
		script(src="static/lib/jquery.min.js")
		script(src="static/lib/moment.min.js")
		script(src='static/lib/fullcalendar.min.js')
		link(href='https://fonts.googleapis.com/css?family=Abel', rel='stylesheet')
		link(rel="stylesheet", href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css") 
		title index
		link(rel='stylesheet', href='/static/css/site.css')
		script(src='static/js/calendarjs.js')


	body
		include ./includes/navbar.pug
		block content
		footer.footer.navbar-fixed-bottom
			.container
				p CopyRight2016