<div class="jumbotron">
  <h1>Proximos eventos</h1>

  <div class="container">

    <div class="col-md-6" ng-repeat="event in events">
        <h3>Actividad: {{event.activity}}</h3>
        <div class="container">
        <div>Fecha: {{event.date}}</div>
        <div>Hora: {{event.time}}</div>
        <div>Experiencia: {{event.experience}}</div>
        <div>Plazas disponibles: {{event.space}}</div>
        <div>Comentarios: <p>{{event.notes}}</p></div>    
        </div>
    </div>

  </div>
</div>

<div class="container" ng-repeat="details in detailsBand">
    <p>{{details.band}}</p>
</div>