doctype html
html(ng-app='myApp')
	head
		meta(charset='utf-8')
		title Marenostrum
		link(href='https://fonts.googleapis.com/css?family=Abhaya+Libre', rel='stylesheet')
		link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css')
		link(rel='stylesheet', href='/css/reset.css')
		link(rel='stylesheet', href='/css/main.css')
	body
		nav.container-fluid.adminHead(role='navigation')
			.container
				a.navbar-brand(href='/') Marenostrum
				ul.nav.navbar-nav.navbar-right
					li
						a(href='#/events') Eventos
					li
						a(href='#/users') Usuarios
					li
						a(href='#') Log Out
		.container
			ng-view

		footer.footer.navbar-fixed-bottom
			.container Marenostrum©2016
		script(src='http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.8/angular.js')
		script(src='http://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.js')
		script(src='js/app.js')
		script(src='js/controllers/controller.js')
		script(src='js/services/service.js')
