extends layout

block content
  section
      .container.sectionMain
        .container.sectionBody.col-md-6
          .col-md-12
            .textTitle
              h2 LA ESCUELA
          .col-md-12
            .textContainer
              p
                | Si eres buceador y te gustaría seguir aprendiendo, aumentar tu seguridad y capacidad en el medio subacuatico para poder afrontar retos más emocionantes, puedes continuar tu formación en nuestra escuela.
              p
                | En Marenostrun te damos la posibilidad de elegir entre dos de las organizaciones para la enseñanza de buceo más reconocidas del mundo (PADI y ACUC), podrás elegir la especialidad que más se ajuste a tu buceo y seguir progresando hasta ser profesional.
        .container.sectionBody.col-md-6
          img(class='col-md-12' src='images/school.jpg', alt='')
  footer.footer.navbar-fixed-bottom
    .container
      p
