extends layout


block content
  section
    .container.sectionMain
      .container.sectionBody
        .col-md-6
          .textTitle
            img(src='images/placeholder.png', alt='')
            h2
              | NUESTRO
              br
              | CENTRO
        .col-md-6
          .textContainer
            p
              | La escuela de MARENOSTRUM es un centro dedicado a la enseñanza del buceo recreativo y a la organización de salidas para el ocio.
            p
              | Nuestro centro esta situado dentro del puerto de Arenys de Mar a pocos metros del mar y 60 mt de nuestro barco, un punto privilegiado en uno de los puertos más seguros, con más historia y encanto de la costa catalana. A 25 minutos en coche o 40 en tren, desde Barcelona.
      .container.sectionBody
        .col-md-6
          .textTitle
            h2 LA ESCUELA
        .col-md-6
          .textContainer
            p
              | Si eres buceador y te gustaría seguir aprendiendo, aumentar tu seguridad y capacidad en el medio subacuatico para poder afrontar retos más emocionantes, puedes continuar tu formación en nuestra escuela.
            p
              | En Marenostrun te damos la posibilidad de elegir entre dos de las organizaciones para la enseñanza de buceo más reconocidas del mundo (PADI y ACUC), podrás elegir la especialidad que más se ajuste a tu buceo y seguir progresando hasta ser profesional.
  footer.footer.navbar-fixed-bottom
    .container
      p
